# R
*.rds
*.rda
*.RData
.Rproj.user
.Rhistory
.RData
.Ruserdata
# Plotting output
/plt/
*.pdf
*.png
# Data
*.xlsx
*.xls
*.feather
# Vector data
*.cpg
*.dbf
*.prj
*.qpj
*.sbn
*.sbx
*.shp*
*.shx
*.gpkg*
# Raster data
*.tif
*.nc
# Misc
*.zip
